{% extends "admin/_base.html" %}
{% load static %}

{% block content_admin %}
<div class="col-12">
  <div class="card">
    <div class="card-body">
      <div class="d-md-flex align-items-center">
        <div>
          <h4 class="card-title">Products Performance</h4>
          <p class="card-subtitle">
            Ample Admin Vs Pixel Admin
          </p>
        </div>
        <div class="ms-auto mt-3 mt-md-0">
          <select class="form-select theme-select border-0" aria-label="Default select example">
            <option value="1">March 2025</option>
            <option value="2">March 2025</option>
            <option value="3">March 2025</option>
          </select>
        </div>
      </div>

      <!-- Scrollable table -->
      <div class="table-responsive mt-4" style="max-height: 800px; overflow-y: auto;">
        <table class="table mb-0 text-nowrap varient-table align-middle fs-3">
          <thead>
            <tr>
              <th scope="col" class="px-0 text-muted">Title</th>
              <th scope="col" class="px-0 text-muted">Added By</th>
              <th scope="col" class="px-0 text-muted text-end">Category</th>
              <th scope="col" class="px-0 text-muted text-end">Added At</th>
              <th scope="col" class="px-0 text-muted text-end">Status</th>
              <th scope="col" class="px-0 text-muted text-end">Operation</th>
            </tr>
          </thead>
          <tbody>
            {% for book in books %}
            <tr>
              <td class="px-0">
                <div class="d-flex align-items-center">
                  <img src="{{ book.cover_image.url }}" 
                       class="rounded-circle object-fit-cover border shadow-sm" 
                       width="50" height="50" 
                       alt="{{ book.title }}">
                  <div class="ms-3">
                    <h6 class="mb-0 fw-bolder">{{ book.title }}</h6>
                    <span class="text-muted">{{ book.slug }}</span>
                  </div>
                </div>
              </td>
              <td class="px-0">{{ book.added_by }}</td>
              <td class="px-0 text-dark fw-medium text-end">
                {% for category in book.categories.all %}
                  {{ category.name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                  None
                {% endfor %}
              </td>
              <td class="px-0 text-dark fw-medium text-end">
                {{ book.jcreated_at }}
              </td>
              <td class="px-0 text-dark fw-medium text-end">
                {{ book.is_published }}
              </td>
              <td class="px-0 text-dark fw-medium text-end">
                <a class="btn btn-warning" href="{% url "books:update-book-dashboard" book.pk %}">Update</a> |
                <a class="btn btn-danger" href="{% url "books:delete-book" book.pk %}">Delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content_admin %}
